<nav class="navbar navbar-expand-sm navbar" style="background-color:lightblue;">
    <div class="container-fluid">
        <ul class="nav navbar-da">
            <button (click)="back()" class="btn btn-primary navbar-button">GO BACK</button>
        </ul>
    </div>
</nav>
    
    <nav class="navbar navbar-expand-sm navbar-da" style="background-color:black;">
        <ul class="navbar-nav">
            <button id="home" class="content5" (click)="signUpUser()" style="font-size:larger; background-color: wheat;"><i class="bi bi-person"></i>SIGN UP</button>
            <button id="home" (click)="signInUser()" style="font-size:larger; background-color: wheat;"><i class="bi bi-person"></i>SIGN IN</button>
        </ul>
    </nav>

    <div class="container-fluid">
        <img class="image" src="\assets\userregister.jpg" alt="Your Image">
        <div class="overlay">User Registration</div>
    </div>
    