<div class="header" style="position: relative; text-align: center; background-color:rgb(201, 15, 108)">
<h1><b>Grocery Delivery Application</b></h1>
<p><i>Shop.</i> <b>Deliver.</b> <i>Simplify.</i> <b>Enjoy.</b></p>
<div style="background-color: rgb(252, 252, 11);">
<marquee style="color: blue;"><i>Get ready for Great Indian Festival <b>23rd-25th</b></i></marquee>
</div>
</div>

<nav class="navbar navbar-light" style="background-color: #e3f2fd; tab-size:0cqmin; ">
    <ol>
        <button id="home" (click)="registerAdmin()" class="btn btn-primary btn-sm">ADMIN</button>
     <button id="home" (click)="registerUser()" class="btn btn-primary btn-sm">USER</button>
    </ol>
    
</nav>
<div >
<img src="\assets\pxfuel.jpg" width="100%" height="500px" class="center">
</div>


Shop. Deliver. Simplify. Enjoy.
