<nav class="navbar navbar-expand-sm navbar" style="background-color:lightblue;">
    <div class="container-fluid">
        <ul class="nav navbar-da">
            <button (click)="back()" class="btn btn-primary navbar-button">GO BACK</button>
        </ul>
    </div>
</nav>
    
    <nav class="navbar navbar-expand-sm navbar-da" style="background-color:black;">
        <ol class="navbar-nav">
            <button id="home" class="content" (click)="signUpAdmin()" style="font-size:larger; background-color:wheat;"><i class="bi bi-person"></i>SIGN UP</button>
            <button id="home" (click)="signInAdmin()" style="font-size:larger; background-color: wheat;"><i class="bi bi-person"></i>SIGN IN</button>
        </ol>
    </nav>

    <div class="container-fluid">
        <img class="image" src="\assets\register.webp" alt="Your Image">
        <div class="overlay">Admin Registration</div>
    </div>

    
