
<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
  <div class="container-fluid">    
       
       <ul class = "nav navbar-nav">
         <li class = "nav-item">
            <a routerLink="/addItem" routerLinkActive="active" class="nav-link" ><p style="color:white">Add Item</p></a>
         </li>

         <li class = "nav-item">
            <a routerLink="/itemList" routerLinkActive="active" class="nav-link" ><p style="color:white">Items List</p></a>
         </li>
         <li class = "nav-item">
            <a routerLink="/cartList" routerLinkActive="active" class="nav-link" ><p style="color:white">Carts List</p></a>
         </li>
         <li class = "nav-item">
            <a routerLink="/paymentList" routerLinkActive="active" class="nav-link" ><p style="color:white">Payments List</p></a>
         </li>
         <li class = "nav-item">
            <a routerLink="/userList" routerLinkActive="active" class="nav-link" ><p style="color:white">Users List</p></a>
         </li>

        </ul>
        <button (click)="logOut()"class="btn btn-danger navbar-btn">Log out</button>

        
  </div>

 </nav>
<div class="container-fluid">
         <img class="image" src="\assets\adminhome.jpg" alt="Your Image">
         <div class="overlay">Admin Home</div>
     </div>