<div class="header" style="position: relative; text-align: center;">
    <h1>USER HOME</h1>
 </div>
 <nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
   <div class="container-fluid">    
        
        <ul class = "nav navbar-nav">
 
      
          <button (click)="itemListForUser()"class="btn btn-danger navbar-btn">Explore Items</button>
         
 
         </ul>
         <button (click)="logOut()"class="btn btn-danger navbar-btn">Log out</button>
   </div>
  </nav>
 
